<h1 class="text-3xl font-bold mb-10">Sign up</h1>

<%= form_with model: @user, url: sign_up_path, class: 'max-w-xl space-y-5' do |form| %>
  <div class="flex flex-col gap-2">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: 'email@email.com', class: 'border p-2 rounded-md' %>
  </div>
  <div class="flex flex-col gap-2">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'password', class: 'border p-2 rounded-md' %>
  </div>
  <div class="flex flex-col gap-2">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: 'confirm your password', class: 'border p-2 rounded-md' %>
  </div>
  <%= form.submit class: 'bg-sky-600 text-white rounded-md p-3' %>
<% end %>